{% extends "base.html" %} {% block content %}

<p>【登録したゲーム一覧】</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ゲームID</th>
      <th scope="col">ゲーム名</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games%}
    <tr>
      <th scope="row">{{game.game_id}}</th>
      <td>{{game.game_name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>【ゲーム情報新規登録】</p>

<form action="/add_game" method="post">
  <div class="row mb-3">
    <label for="input-game-id" class="col-sm-2 col-form-label"
      >ゲームID</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="input-game-id"
        name="input-game-id"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-game-name" class="col-sm-2 col-form-label"
      >ゲーム名</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-game-name"
        name="input-game-name"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary" formmethod="post">ゲーム情報を登録</button>
</form>

{% endblock %}
